{% extends 'Ecommerce/basic.html' %}
{% block style1 %}
div.customcont{
    margin-top : 7%;
}
div.custom-card{
    width : 20rem;
}
a:hover{
    text-decoration: none;
}
{% endblock %}

{% block body %}
<div class="container customcont">
    <div class="row">
        <div class="col-12">
            <h4 class="display-4">{{name}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-left">
            <p> --- Displaying {{total}} products</p>
        </div>
    </div>
    <div class="row mb-5">
        {% for item in products %}
        <div class="col-lg-4">
            <a href="http://127.0.0.1:8000/Ecommerce/productview/{{item.id}}">
            <div class="card card-outline-secondary my-4 custom-card">
                <img class="card-img-top img-fluid" src = "/media/{{item.image1}}">
                <div class="card-body">
                    <h3 class="card-title">{{item.product_name}}</h3>
                    <h4>{{ item.price }}</h4>
                    <p class="card-text">{{ item.desc }}</p>
                </div>
            </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}